
<tr>
<th scope="row" class="{{demeanor.d_desc}}"> <span class="status-emoji">&#128513</span>{{c_name}} </th>


<td class="{{demeanor.d_desc}}"> {{demeanor.d_desc}} </td>
<td> {{kennel.k_name}} </td>

</tr>
