<tr>
<td> {{c_name}} </td>
<td> {{k_name}} </td>
<td> {{has_potty_am}} </td>
<td> {{has_walk_am}} </td>
<td> {{d_desc}} </td>
{{!-- this might need to be if statement based on potty/walk values --}}
<td>&#128542</td> 
</tr>