<tr>
<td class="{{demeanor.d_desc}}"> <span class="status-emoji">&#128513</span>{{c_name}} </td>
<td> {{has_potty_am}}</td>
<td> {{has_walk_am}}</td>
<td class="{{demeanor.d_desc}}"> {{demeanor.d_desc}} </td>
<td> {{kennel.k_name}} </td>
{{!-- this might need to be if statement based on potty/walk values --}}
<td><button type="submit" class="waves-effect waves-light btn"><a href="/dashboard/edit/{{c_id}}" class="select-dog">Select</a></button></td>
</tr>
