<main class="container">
    <br><br>
    <div class="row">
        <div class="col s12 m4 l2"></div>

        <div class="col s12 m4 l8 center">
            <div class="card z-depth-2">
                <div class="card-content">
                    <h3 class="doggy-name flow-text">{{canine.c_name}}</h3>
                    {{!-- dog image --}}
                    <img class="single-dog-image" src="/images/dogs/{{canine.c_name}}.jpg" alt="{{canine.c_name}}"
                        width="400" heigh="auto">
                </div>

                <div class="card-action">
                    <p class="flow-text">Please check the activities that have been completed</p>

                    <label class="check">
                        {{#if (shift_change)}}
                        {{#if (isDone canine.has_potty_am)}}
                        <input type="checkbox" class="filled-in" id="potty-check" checked />
                        {{else}}
                        <input type="checkbox" class="filled-in" id="potty-check" />
                        {{/if}}
                        {{else}}
                        {{#if (isDone canine.has_potty_pm)}}
                        <input type="checkbox" class="filled-in" id="potty-check" checked />
                        {{else}}
                        <input type="checkbox" class="filled-in" id="potty-check" />
                        {{/if}}
                        {{/if}}
                        <span class="flow-text">Potty</span>
                    </label>

                    <label class="check">
                        {{#if (shift_change)}}
                        {{#if (isDone canine.has_walked_am)}}
                        <input type="checkbox" class="filled-in" id="walk-check" checked />
                        {{else}}
                        <input type="checkbox" class="filled-in" id="walk-check" />
                        {{/if}}
                        {{else}}
                        {{#if (isDone canine.has_walked_pm)}}
                        <input type="checkbox" class="filled-in" id="walk-check" checked />
                        {{else}}
                        <input type="checkbox" class="filled-in" id="walk-check" />
                        {{/if}}
                        {{/if}}
                        <span class="flow-text">Walk</span>
                    </label>

                    <br>

                    <div class="button-container">
                        {{!-- submit button --}}
                        <a class="waves-effect waves-light btn doggie" id={{canine.c_id}} data-v_id={{v_id}}
                            type="submit">Submit</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l2"></div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/javascript/single-canine.js"></script>